In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('eccomerce.csv')

<h2>İlk olarak kabataslak görünüşüne bakmak istiyorum</h2>

In [23]:
df.head()

,customer_id,first_name,last_name,gender,age_group,signup_date,country,product_id,product_name,category,quantity,unit_price,order_id,order_date,order_status,payment_method,rating,review_text,review_id,review_date
0,CUST2353,Erica,Oliver,Female,Teenagers,2022-06-29,Canada,PROD108,Fitbit Versa 3,Electronics,3,229,ORD10000,2023-07-13,Pending,Credit Card,2,good,REV20000,2025-06-06
1,CUST4463,Christopher,White,Male,Adults,2023-08-24,China,PROD103,Levi's Jeans,Apparel,4,59,ORD10001,2024-08-12,Pending,PayPal,2,average,REV20001,2023-08-05
2,CUST4512,Spencer,Foster,Male,Senior,2023-07-18,Germany,PROD111,Lego Star Wars Set,Toys,2,59,ORD10002,2024-08-04,Delivered,Cash on Delivery,5,good,REV20002,2023-01-03
3,CUST5711,Jessica,Harris,Male,Teenagers,2025-08-22,France,PROD107,Dyson Vacuum,Home & Kitchen,4,399,ORD10003,2025-05-23,Delivered,Cash on Delivery,2,very good,REV20003,2023-03-14
4,CUST1296,Amy,Johnson,Female,Teenagers,2021-03-23,Brazil,PROD105,Adidas Running Shoes,Apparel,1,110,ORD10004,2023-07-02,Returned,Cash on Delivery,1,very good,REV20004,2023-10-18

<h2>Boş satırlar var mı yok mu onu kontrol ediyorum</h2>

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     10000 non-null  object
 1   first_name      10000 non-null  object
 2   last_name       10000 non-null  object
 3   gender          10000 non-null  object
 4   age_group       10000 non-null  object
 5   signup_date     10000 non-null  object
 6   country         10000 non-null  object
 7   product_id      10000 non-null  object
 8   product_name    10000 non-null  object
 9   category        10000 non-null  object
 10  quantity        10000 non-null  int64
 11  unit_price      10000 non-null  int64
 12  order_id        10000 non-null  object
 13  order_date      10000 non-null  object
 14  order_status    10000 non-null  object
 15  payment_method  10000 non-null  object
 16  rating          10000 non-null  int64
 17  review_text     10000 non-null  object
 18  review_id       10000 non-null  object
 19  review_date     10000 non-null  object
dtypes: int64(3), object(17)
memory usage: 1.5+ MB

<h2>"customer_id,product_id" gibi anahtar sütunlarda veri tiplerinde sorun var. Onların içeriğini sadece sayısal değeri bırakacak şekilde güncelliyorum</h2>

In [25]:
cols = ["customer_id", "product_id", "order_id", "review_id"]

for col in cols:
    df[col] = df[col].str.extract("(\d+)")
df.head()

,customer_id,first_name,last_name,gender,age_group,signup_date,country,product_id,product_name,category,quantity,unit_price,order_id,order_date,order_status,payment_method,rating,review_text,review_id,review_date
0,2353,Erica,Oliver,Female,Teenagers,2022-06-29,Canada,108,Fitbit Versa 3,Electronics,3,229,10000,2023-07-13,Pending,Credit Card,2,good,20000,2025-06-06
1,4463,Christopher,White,Male,Adults,2023-08-24,China,103,Levi's Jeans,Apparel,4,59,10001,2024-08-12,Pending,PayPal,2,average,20001,2023-08-05
2,4512,Spencer,Foster,Male,Senior,2023-07-18,Germany,111,Lego Star Wars Set,Toys,2,59,10002,2024-08-04,Delivered,Cash on Delivery,5,good,20002,2023-01-03
3,5711,Jessica,Harris,Male,Teenagers,2025-08-22,France,107,Dyson Vacuum,Home & Kitchen,4,399,10003,2025-05-23,Delivered,Cash on Delivery,2,very good,20003,2023-03-14
4,1296,Amy,Johnson,Female,Teenagers,2021-03-23,Brazil,105,Adidas Running Shoes,Apparel,1,110,10004,2023-07-02,Returned,Cash on Delivery,1,very good,20004,2023-10-18

<h2>Tarih sütunlarını ve en son adımda satırlarını düzenlediğim anahtar sütunların veri tiplerini düzeltiyorum</h2>

In [26]:
date_cols = ["signup_date", "order_date", "review_date"]

for col in date_cols:
    df[col] = pd.to_datetime(df[col])
    
int_cols = ["customer_id", "product_id", "order_id", "review_id"]

for col in int_cols:
    df[col] = df[col].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     10000 non-null  int64
 1   first_name      10000 non-null  object
 2   last_name       10000 non-null  object
 3   gender          10000 non-null  object
 4   age_group       10000 non-null  object
 5   signup_date     10000 non-null  datetime64[ns]
 6   country         10000 non-null  object
 7   product_id      10000 non-null  int64
 8   product_name    10000 non-null  object
 9   category        10000 non-null  object
 10  quantity        10000 non-null  int64
 11  unit_price      10000 non-null  int64
 12  order_id        10000 non-null  int64
 13  order_date      10000 non-null  datetime64[ns]
 14  order_status    10000 non-null  object
 15  payment_method  10000 non-null  object
 16  rating          10000 non-null  int64
 17  review_text     10000 non-null  object
 18  review_id       10000 non-null  int64
 19  review_date     10000 non-null  datetime64[ns]
dtypes: datetime64[ns](3), int64(7), object(10)
memory usage: 1.5+ MB

<h2>Null yada NaN değerler varmı kontrol ediyorum</h2>

In [27]:
df.isna().sum()

customer_id       0
first_name        0
last_name         0
gender            0
age_group         0
signup_date       0
country           0
product_id        0
product_name      0
category          0
quantity          0
unit_price        0
order_id          0
order_date        0
order_status      0
payment_method    0
rating            0
review_text       0
review_id         0
review_date       0
dtype: int64

<h1>Analiz Kısmı</h1>
<H2>Analize başlarken toplam gelir sütunu oluşturuyorum ki her defasında unitprice*quantity çarpımıyla uğraşmayayım</H2>

In [28]:
df['revenue'] = df['quantity']*df['unit_price']

<h2>Toplam satış tutarı</h2>

In [29]:
TotalRevenue = df['revenue'].sum()
print("Total Revenue :", TotalRevenue)

Total Revenue : 7450763

<h2>Benzersiz müşteri sayısı</h2>

In [30]:
TotalCustomers = df['customer_id'].nunique()
print("Total Customers", TotalCustomers)

Total Customers 4327

<h2>Ülkeler bazında toplam müşteri sayısı ve sipariş sayıları</h2>

In [31]:
CountryAnalysis =df.groupby('country').agg(
    ToplamMüşteriSayisi = ('customer_id','nunique'),
    ToplamSiparisSayisi = ('order_id','count') ).reset_index()
print(CountryAnalysis)

     country  ToplamMüşteriSayisi  ToplamSiparisSayisi
0  Australia                  443                 1043
1     Brazil                  428                 1019
2     Canada                  438                  997
3      China                  458                 1054
4     France                  442                 1060
5    Germany                  393                  885
6      India                  449                 1036
7      Japan                  445                  976
8         UK                  409                  943
9        USA                  422                  987

<h2>En çok satan 10 ürün ve getirilerini azalan şekilde sıralayıp ilk 10 ürünü listelemek</h2>

In [32]:
ProductSales = df.groupby(['product_id','product_name']).agg(
    SatilanAdet = ('quantity','sum'),
    ToplamGetiri = ('revenue','sum') )
ProductSales = ProductSales.sort_values(by="ToplamGetiri", ascending=False)
print(ProductSales.head(10))

                                 SatilanAdet  ToplamGetiri
product_id product_name
100        iPhone 14                    1883       1881117
101        Samsung Galaxy S23           1981       1780919
107        Dyson Vacuum                 2196        876204
108        Fitbit Versa 3               1934        442886
102        Sony Headphones              2136        425064
112        Barbie Dreamhouse            1933        384667
113        Wilson Tennis Racket         1950        290550
109        Kindle Paperwhite            1973        254517
104        Nike Air Max                 2042        245040
105        Adidas Running Shoes         2093        230230

<h2>Kategori bazlı satış toplamları</h2>

In [33]:
categorysales = df.groupby('category')['revenue'].sum()
categorysales = categorysales.sort_values(ascending =False)
print(categorysales)

category
Electronics       4529986
Home & Kitchen    1069650
Apparel            597636
Toys               499894
Books              415797
Sports             337800
Name: revenue, dtype: int64

<h2>Ürün bazında gruplama yaparak en yüksek ortalama rating puanı olanları listeler ve incelenme sayılarınıda yanında gösterir </h2>

In [34]:
ratinganalysis = df.groupby('product_name').agg(
    avgrating = ('rating','mean'),
    reviewcount = ('review_id','count'))

ratinganalysis = ratinganalysis.sort_values(by='avgrating', ascending = False).head(10)
print(ratinganalysis)

                      avgrating  reviewcount
product_name
Sony Headphones        3.107402          689
Barbie Dreamhouse      3.060976          656
Harry Potter Box Set   3.045858          676
Adidas Running Shoes   3.008824          680
Samsung Galaxy S23     2.996890          643
Fitbit Versa 3         2.993930          659
iPhone 14              2.984000          625
Kindle Paperwhite      2.980243          658
Nike Air Max           2.974777          674
Instant Pot            2.974281          661

<h2>Ödeme yöntemlerinin yüzdesel payını hesaplar</h2>

In [35]:
PaymentDistribution = df['payment_method'].value_counts(normalize=True)
PaymentPercentage = (PaymentDistribution * 100).round(2)

print("Ödeme Yöntemleri Yüzdesel Dağılımı:")
print("-" * 35)
print(PaymentPercentage)

Ödeme Yöntemleri Yüzdesel Dağılımı:
-----------------------------------
payment_method
Cash on Delivery    34.09
PayPal              33.01
Credit Card         32.90
Name: proportion, dtype: float64

<h2>Yıllara göre satışların toplamları </h2>

In [36]:
sales_per_year = df.groupby(df['order_date'].dt.year)['revenue'].sum()
print(sales_per_year)

order_date
2022     847031
2023    2490025
2024    2506001
2025    1607706
Name: revenue, dtype: int64

<h2>Görece büyük alışverişlerin  ödeme yöntemlerinin dağılımı incelediğim analiz </h2>

In [53]:

THRESHOLD = 1000


high_value_orders = df[df['revenue'] >= THRESHOLD]


order_summary = high_value_orders.groupby('payment_method').agg(
    order_count=('revenue', 'count')
)

order_count_percent = high_value_orders['payment_method'].value_counts(normalize=True) * 100

print("1000 TL ve üzerindeki siparişlerde ödeme yöntemi dağılımı (adet ve toplam tutar):")
print(order_summary)
print("\n1000 TL ve üzerindeki siparişlerde ödeme yöntemi dağılımı (%):")
print(order_count_percent)

1000 TL ve üzerindeki siparişlerde ödeme yöntemi dağılımı (adet ve toplam tutar):
                  order_count
payment_method
Cash on Delivery          509
Credit Card               522
PayPal                    536

1000 TL ve üzerindeki siparişlerde ödeme yöntemi dağılımı (%):
payment_method
PayPal              34.205488
Credit Card         33.312061
Cash on Delivery    32.482451
Name: proportion, dtype: float64

<h2>Yüksek Değerli Siparişlerin Ödeme Davranışı Analizi </h2>

In [64]:
X = 2000


high_value_orders = df[df['revenue'] >= X]


order_summary = (
    high_value_orders.groupby('payment_method')['revenue']
    .agg(order_count='count')  # sadece adet
    .assign(order_percent=lambda x: x['order_count'] / x['order_count'].sum() * 100)
    .sort_values('order_count', ascending=False)
)
print(order_summary)

                  order_count  order_percent
payment_method
PayPal                    279      35.907336
Credit Card               263      33.848134
Cash on Delivery          235      30.244530